/* core.css */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,textarea,select,option,button,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;outline:none;vertical-align:top}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}.hide{display:none}.show{display:block}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .03em;
}
a {
  display: inline-block;
  text-decoration: none;
}
button,
.button {
  padding: 15px 30px;
  border-radius: 100px;
  background-color: #fff;
  color: #2b2f35;
}
.button.green {
  background-color: #00bb66;
  color: #fff;
}
button:hover,
.button:hover {
  background-color: #141518;
  color: #fff;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header {
  padding-top: 30px;
  background-color: #2b2f35;
}
.nav {
  overflow: hidden;
}
.nav .trademark {
  max-width: 300px;
  float: left;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.nav .trademark img {
  width: 100%;
}
.menu {
  float: right;
  display: inline-block;
}
#items li {
  float: left;
  display: inline-block;
  font-size: 15px;
  color: #fff;
}
#items a {
  padding: 20px;
  font-size: inherit;
  color: inherit;
}
#items a:hover {
  color: #89929f;
}
.hero {
  padding-bottom: 100px;
  background-image: url('about:blank');
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
.intro h1 {
  max-width: 650px;
  margin: 100px auto 100px auto;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.2em;
  color: #fff;
}